<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <img alt="Logo"
        src="https://www.earnieland.be/system/App/Models/Shop/logos/000/001/651/original/happy-socks_logo.jpg"
        routerLink="/">
    </div>
    <div class="nav navbar-nav navbar-right">
      <div>
        <button class="btn btn-default" [routerLink]="['cart']">Cart
          <span class="badge">{{cartService.getCartProductsLength()}}</span>
        </button>
        <button *ngIf="(authState | async).authenticated" class="btn btn-default"
          [routerLink]="['purchases']">Purchases</button>
        <button *ngIf="(authState | async).authenticated" class="btn btn-default" (click)="onLogout()">Logout</button>
        <select *ngIf="!(authState | async).authenticated" (change)="navigateTo($event.target.value)">
          <option value="">Guest</option>
          <option value="login">Login</option>
          <option value="register">Register</option>
        </select>
      </div>
    </div>
  </div>
</nav>