<div>
  <div class="row is-flex">
    <h1>Cart</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cartProduct of cartProducts">
            <td>{{cartProduct._id}}</td>
            <td>{{cartProduct.name}}</td>
            <td>{{cartProduct.description}}</td>
            <button class="btn btn-danger remove-from-cart"
            (click) ="removeFromCart(cartProduct)"> Remove from Cart
            </button>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" [routerLink]="['/checkout']"> Checkout
      </button>
    </div>
  </div>
</div>