<div>
  <div class="row is-flex">
    <h1>Cart</h1>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              ID
            </td>
            <td>
              Product name
            </td>
            <td>
              Product description
            </td>
            <td>
              <button class="btn btn-danger remove-from-cart"> Remove from Cart
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success"> Checkout
      </button>
    </div>
  </div>
</div>