<div class="container-fluid">
  <app-category (onCategoryClick)="onCategoryClick($event)"></app-category>
  <div id="productsArea" class="row" style="margin-top:70px;">
    <div class="col">
    </div>
    <div class="col-10">
      <div *ngFor="let product of (state | async).productsOnPage" class="col-4" style="float:left; margin-bottom:15px;">
        <app-product [product]="product" (moreDetails)="moreDetails($event)"></app-product>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <app-pagination></app-pagination>
  </div>
</div>