<div class="container-fluid">
  <div class="row">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Landing</button>
      <button type="button" class="btn btn-default">Arcade</button>
      <button type="button" class="btn btn-default">Adventure</button>
      <button type="button" class="btn btn-default">Puzzle</button>
      <button type="button" class="btn btn-default">RPG</button>
      <button type="button" class="btn btn-default">Sports</button>
      <button type="button" class="btn btn-default">Strategy</button>
    </div>
  </div>
  <div class="row" style="margin-top:70px;">
    <div class="col">
    </div>
    <div class="col-8">
      <h1>Landing</h1>
    </div>
    <div class="col">
    </div>
  </div>
</div>